.content .about_banner {
    width: 100%;
    margin-bottom: 50px;
}

.content .about_banner img {
    width: 100%;
}

.content .about_row {
    width: 946px;
    margin: auto;
}

.el-row {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border: 1px solid;
    border-radius: 10px;
    border-color: #999999;
    width: 448px;
    height: 370px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.grid-content .gird_img {
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

.grid-content .gird_img img {
    vertical-align: middle;
}

.grid-content .gird_img span {
    height: 50%;
    display: inline-block;
}

.grid-content .gird_title {
    height: 70px;
}

.grid-content .gird_content {
    height: 150px;
}

.grid-content .gird_title h1 {
    width: 200px;
    height: 30px;
    color: #333333;
    font-size: 22.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.grid-content .gird_content p {
    width: 320px;
    height: 130px;
    color: #666666;
    font-size: 14.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: stretch;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: auto;
}

.content .item {
    width: 100%;
    padding: 0 210px 50px;
}

.content .title {
    padding-left: 20px;
    height: 80px;
    border-left: 4px solid #13a2e0;
}

.content .title ul {
    height: 80px;
    padding-left: 0px;
    margin: 0px;
}

.content .title ul li {
    list-style-type: none;
}

.content .title .litop {
    width: 367px;
    height: 50px;
    color: #333333;
    font-size: 36.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
}

.content .title .libottom {
    width: 298px;
    height: 30px;
    color: #a9a9a9;
    font-size: 22.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
}

.content .timeline {
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.content .timeline img {
    margin-top: 40px;
}

.content .timeline span {
    width: 388px;
    height: 33px;
    color: #000000;
    font-size: 24.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
}

.content .timeline .tooltip img {
    margin: 0;
}

.content .timeline .tooltip {
    position: absolute;
    margin: 0;
}

.content #tooltip201310 {
    left: 505px;
    top: 170px;
}

.content #tooltip201312 {
    left: 93px;
    top: 305px;
}

.content #tooltip201407 {
    left: 505px;
    top: 610px;
}

.content #tooltip201507 {
    left: 122px;
    top: 915px;
}

.content #tooltip201512 {
    left: 505px;
    top: 1050px;
}

.content #tooltip201608 {
    left: 122px;
    top: 1355px;
}

.content #tooltip201610 {
    left: 508px;
    top: 1488px;
}

.content #tooltip201706 {
    left: -5px;
    top: 1878px;
}

.content .contactgroup {
    width: 100%;
    height: 180px;
    padding-left: 338px;
    padding-right: 337px;
    text-align: center;
    margin-top: 30px;
}

.content .contactgroup .contactitem {
    text-align: center;
    height: 100px;
}

.content .contactitem.brand-item {
    height: 66px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.content .contactgroup .contactdetail {
    color: #666666;
    font-size: 14.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
}

.content .contactgroup .wechattooltip {
    position: absolute;
    left: -65px;
    top: 68px;
}