.about_banner {
    margin-bottom: 50px;
    background-color: #5162EE;
    width: 100%;
    max-height: 440px;
}

.about_banner img {
    max-height: 440px;
    max-width: 100%;
}

.horizontal {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.grid-content {
    border: 1px solid;
    border-radius: 10px;
    border-color: #999999;
    width: 448px;
    height: 370px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.grid-content .gird_img {
    height: 150px;
}

.grid-content .gird_img img {
    vertical-align: middle;
}

.grid-content .gird_img span {
    height: 50%;
    display: inline-block;
}

.grid-content .gird_title {
    height: 70px;
}

.grid-content .gird_content {
    height: 150px;
}

.grid-content .gird_title h1 {
    height: 30px;
    color: #333333;
    font-size: 22.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.grid-content .gird_content p {
    width: 320px;
    height: 130px;
    color: #666666;
    font-size: 14.0px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 1.5;
    margin: auto;
}

.content .item {
    width: 100%;
    padding: 0 210px 50px;
}

@media only screen and (max-width: 980px) {
    .content .item {
        width: 100%;
        padding: 0 12px 50px;
    }
}

.content .title {
    padding-left: 20px;
    height: 80px;
    border-left: 4px solid #13a2e0;
}

.content .title ul {
    height: 80px;
    padding-left: 0px;
    margin: 0px;
}

.content .title ul li {
    list-style-type: none;
}

.content .title .litop {
    width: 367px;
    height: 50px;
    color: #333333;
    font-size: 36.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
}

.content .title .libottom {
    width: 298px;
    height: 30px;
    color: #a9a9a9;
    font-size: 22.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
}

.content .timeline {
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.content .timeline img {
    margin-top: 40px;
}

.content .timeline span {
    width: 388px;
    height: 33px;
    color: #000000;
    font-size: 24.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: left;
}

.content .timeline .tooltip img {
    margin: 0;
}

.content .timeline .tooltip {
    position: absolute;
    margin: 0;
}

.content #tooltip201310 {
    left: 505px;
    top: 170px;
}

.content #tooltip201312 {
    left: 93px;
    top: 305px;
}

.content #tooltip201407 {
    left: 505px;
    top: 610px;
}

.content #tooltip201507 {
    left: 122px;
    top: 915px;
}

.content #tooltip201512 {
    left: 505px;
    top: 1050px;
}

.content #tooltip201608 {
    left: 122px;
    top: 1355px;
}

.content #tooltip201610 {
    left: 508px;
    top: 1488px;
}

.content #tooltip201706 {
    left: -5px;
    top: 1878px;
}

.content .contactgroup {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.content .contactgroup .groupitem {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    position: relative;
}

.content .contactgroup .groupitem img {
    cursor: pointer;
}

.content .contactgroup .groupitem span {
    color: #666666;
    font-size: 14.0px;
    font-weight: 400;
    margin-top: 20px;
}

.groupitem .wechatTooltip {
    position: absolute;
    top: 70px;
    z-index: 100;
    display: none
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}