.behavior_banner {
    width: 100%;
    max-height: 440px;
    background-color: #3663da;
}

.behavior_banner img {
    max-width: 100%;
    max-height: 440px;
}

.content .greybg {
    background-color: #fbfbfd;
}

.content .item {
    width: 100%;
    padding: 0 210px 50px;
}

@media only screen and (max-width: 980px) {
    .content .item {
        width: 100%;
        padding: 0 12px 50px;
    }
}

.NewgreyBG {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fbfbfd;
    z-index: -1;
}

.retargeting {
    height: 720px;
}

.instoreBg {
    height: 600px;
}

.managerBg {
    height: 780px;
}

.content .title {
    padding-left: 20px;
    height: 80px;
    border-left: 4px solid #13a2e0;
    margin-bottom: 50px;
    margin-top: 50px;
}

.content .title ul {
    height: 80px;
    padding-left: 0px;
    margin: 0px;
}

.content .title ul li {
    list-style-type: none;
}

.content .title .litop {
    color: #333333;
    font-size: 36.0px;
}

.content .title .libottom {
    color: #a9a9a9;
    font-size: 22.0px;
    padding-top: 10px;
}

.enterstore {
    width: 100%;
    height: 279px;
    background-image: url('../img/behavioranalysis/enterstore-statistics.png');
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.enterstore .analysisItem {
    padding-left: 70px;
}

.analysisItem {
    width: 230px;
}

.analysisItem .itemImgText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.analysisItem .itemImgText span {
    font-size: 22px;
    color: #333333;
    padding-left: 20px;
}

.instore {
    width: 100%;
    height: 314px;
    background-image: url('../img/behavioranalysis/instore-analysis.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.areaheat {
    height: 248px;
    background-image: url('../img/behavioranalysis/areaheat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.behaviorImgBg {
    height: 438px;
    width: 745px;
    padding-left: 100px;
}

.backgroundIcoText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.backgroundIcoText .backgroundIcoTextItem {
    display: inline-flex;
    flex-direction: column;
    margin: 0 35px;
    align-items: center;
    justify-content: center;
}

.backgroundIcoText .backgroundIcoTextItem span {
    font-size: 22px;
    color: #333333;
    margin-top: 20px;
}