.contact_banner {
    margin-bottom: 50px;
    background-color: #5f75f8;
    width: 100%;
    max-height: 440px;
}

.contact_banner img {
    max-width: 100%;
    max-height: 440px;
}


/* 内容 */

.content .banner {
    width: 100%;
    height: 440px;
}

.content .item {
    width: 100%;
    padding: 0 210px 50px;
}

.content .title {
    padding-left: 20px;
    color: #333333;
    font-size: 36.0px;
    height: 50px;
    line-height: 50px;
    border-left: 4px solid #13a2e0;
}

.content .contact .contactusRoot {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: Center;
    margin: 30px 0;
}

.content .contact .contactus {
    color: #999999;
    font-size: 24.0px;
}

.content .contact .contactusbutton {
    font-size: 24.0px;
    background-color: #13a2e0;
    width: 180px;
    height: 48px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
}

.content .contact .contactusbutton .elbutton {
    width: 180px;
    height: 48px;
}

.content .contact .contactus_bg {
    width: 954px;
    text-align: center;
    margin: -40px auto;
    position: relative;
}

.content .contact .contactus_bg .intro_title {
    color: #333333;
    font-size: 28.0px;
    position: absolute;
    left: 41px;
    top: 30px;
    margin: 0;
}

.content .address {
    margin-bottom: 100px;
}

.content .address .bitmap {
    width: 100%;
    height: 300px;
}

.contactus_bg .intro_content {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
}

.intro_content .contact-content {
    height: 130px;
    position: relative;
}

.contact-content .contactico {
    display: flex;
    justify-content: left;
    align-items: Center;
    padding-left: 41px;
    height: 40px;
}

.contact-content .contactico p {
    color: #333333;
    font-size: 24.0px;
    padding-left: 15px;
}

.contact-content p {
    color: #999999;
    font-size: 14.0px;
    text-align: left;
    padding-left: 41px;
}


/* 联系方式 */

.content .contactgroup {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.content .contactgroup .groupitem {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    position: relative;
}

.content .contactgroup .groupitem img {
    cursor: pointer;
}

.content .contactgroup .groupitem span {
    color: #666666;
    font-size: 14.0px;
    font-weight: 400;
    margin-top: 20px;
}

.groupitem .wechatTooltip {
    position: absolute;
    top: 70px;
    z-index: 100;
    display: none
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.require-dialog {
    width: 830px;
    height: 434px;
}

.el-dialog__footer {
    padding: 0;
    height: 20px;
}

.el-dialog__body {
    padding: 0;
    height: 306px;
}

.dialog_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog_title .leftline {
    width: 78px;
    margin-right: 40px;
}

.dialog_title .rightline {
    width: 78px;
    margin-left: 40px;
}

.dialog_title span {
    text-align: center;
    color: #333333;
    font-size: 32px;
}

.nameandcontact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.nameandcontact input {
    width: 300px;
    height: 48px;
    margin: 0 30px;
    font-size: 20px;
    padding-left: 20px;
    /* color: #c3c3c3; */
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}

.require-dialog .dialog-content {
    font-size: 20px;
    color: #333333;
    margin-top: 40px;
    text-align: center;
}

.require-dialog .dialog-checkbox {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 0 55px;
    margin-top: 40px;
}

.mycheckbox {
    display: none;
}

.mycheckbox+label {
    background-color: #FFF;
    border: 1px solid #C1CACA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.mycheckbox+label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.mycheckbox:checked+label {
    background-color: #ECF2F7;
    border: 1px solid #92A1AC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #243441;
}

.mycheckbox:checked+label:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #758794;
    width: 100%;
    text-align: center;
}

.checkboxitem {
    display: flex;
    align-items: center;
}

.checkboxitem .checkboxlabel {
    font-size: 18px;
    color: #666666;
}

.require-dialog .dialog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.require-dialog .dialog-footer .submit {
    background-color: #14a2e0;
    width: 386px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.NewgreyBG {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.bg01 {
    height: 300px;
    background: #e4e0ca url('../img/contact/wuxi_map_1920.png') no-repeat center;
}

.bg02 {
    height: 300px;
    background: #e4e0ca url('../img/contact/shanghai_map_1920.png') no-repeat center;
}

@media only screen and (max-width: 980px) {
    .content .item {
        width: 100%;
        padding: 0 12px 50px;
    }
}