.content .contact_banner {
    width: 100%;
    margin-bottom: 50px;
}

.content .contact_banner img {
    width: 100%;
}


/* 内容 */

.content .banner {
    width: 100%;
    height: 440px;
}

.content .item {
    width: 100%;
    padding: 40px 210px 50px;
}

.content .title {
    padding-left: 20px;
    color: #333333;
    font-size: 36.0px;
    height: 50px;
    line-height: 50px;
    border-left: 4px solid #13a2e0;
    margin: 0 210px 30px;
}

.content .contact .contactusRoot {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: Center;
    margin: 0 210px 50px;
}

.content .contact .contactus {
    color: #999999;
    font-size: 24.0px;
    margin: auto;
    margin-left: 0px;
}

.content .contact .contactusbutton {
    font-size: 24.0px;
}

.content .contact .contactusbutton .elbutton {
    width: 180px;
    height: 48px;
}

.content .contact .contactus_bg {
    width: 954px;
    text-align: center;
    margin: -40px auto;
    position: relative;
}

.content .contact .contactus_bg .intro_title {
    color: #333333;
    font-size: 28.0px;
    position: absolute;
    left: 41px;
    top: 30px;
    margin: 0;
}

.content .address {
    margin-bottom: 100px;
}

.contactus_bg .intro_content {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
}

.intro_content .contact-content {
    height: 130px;
    position: relative;
}

.contact-content .contactico {
    display: flex;
    justify-content: left;
    align-items: Center;
    padding-left: 41px;
    height: 40px;
}

.contact-content .contactico p {
    color: #333333;
    font-size: 24.0px;
    padding-left: 15px;
}

.contact-content p {
    color: #999999;
    font-size: 14.0px;
    text-align: left;
    padding-left: 41px;
}


/* 联系方式 */

.content .contactgroup {
    width: 100%;
    height: 180px;
    padding-left: 338px;
    padding-right: 337px;
    text-align: center;
    margin-top: 30px;
}

.content .contactgroup .contactitem {
    text-align: center;
    height: 100px;
}

.content .contactitem.brand-item {
    height: 66px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.content .contactgroup .contactdetail {
    color: #666666;
    font-size: 14.0px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-align: center;
}

.content .contactgroup .wechattooltip {
    position: absolute;
    left: -65px;
    top: 68px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}