.banner {
  background-color: #0a0b11;
  width: 100%;
  text-align: center
}

.banner .el-carousel {
  width: 100%;
  max-width: 1920px;
  max-height: 440px;
}

.carousel-img {
  max-width: 100%;
  max-height: 440px;
}

.content .item {
  width: 100%;
  padding: 40px 210px 50px;
}

.content .title {
  padding-left: 20px;
  color: #333333;
  font-size: 36.0px;
  height: 50px;
  line-height: 50px;
  border-left: 4px solid #13a2e0;
}

.content .more {
  height: 28px;
  line-height: 28px;
  padding-right: 38px;
  background: url('../img/index/more_normal.png') right center no-repeat;
  float: right;
}

.content .more:hover {
  background-image: url('../img/index/more_pressed.png');
}

.content .product-group {
  width: 100%;
  height: 387px;
  margin-top: 47px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .product-group .product-item {
  height: 100%;
  width: 230px;
  /* float: left; */
  /* margin-right: 128px; */
  margin: 0 64px;
}


/* .content .product-group .product-item:last-child {
  margin-right: 0px;
} */

.content .product-group .product-img {
  width: 230px;
  height: 230px;
}

.content .product-group .product-img .circle {
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.3;
}

.content .product-group .product-item:hover .product-img .circle {
  animation: hoverScale 0.9s cubic-bezier(.17, .67, .83, .67) infinite alternate;
}

@keyframes hoverScale {
  0% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.content .product-group .product-img .circle1 {
  width: 10px;
  height: 10px;
  background: #ffffff;
  margin-left: 110px;
  margin-top: -120px;
}

.content .product-group .product-img .circle2 {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  margin-left: 90px;
  margin-top: -30px;
}

.content .product-group .product-img .circle3 {
  width: 230px;
  height: 230px;
  border: 1px solid #dddddd;
  margin-left: 0;
  margin-top: -142px;
}

.content .product-group .product-hr {
  position: relative;
  width: 1px;
  margin: 0 auto;
  margin-top: -38px;
  height: 76px;
  background: #dddddd;
  z-index: 10;
}

.content .product-group .product-name {
  color: #333333;
  font-size: 24.0px;
  text-align: center;
  margin: 8px 0 19px;
}

.content .product-group .product-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.content .program {
  height: 840px;
  background: #fbfbfd;
}

.content .program-content {
  height: calc(100% - 50px);
  width: 100%;
}

.content .program-content .subtitle {
  width: 284px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 28.0px;
  background: url('../img/index/subtitle-bg.png') center center no-repeat;
  text-align: center;
  margin: 18px auto;
}

.content .program-content .control {
  display: inline-block;
  float: right;
  height: 31px;
  line-height: 31px;
  color: #999999;
  font-size: 20.0px;
  margin-right: 50px;
  text-align: right;
  padding-right: 70px;
  background-image: url('../img/index/close.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.content .program-content .control.close {
  background-image: url('../img/index/close.png');
}

.content .program-content .control.open {
  background-image: url('../img/index/open.png');
}

.content .program-content .program-img {
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
}

.content .program-content .program-img img {
  margin: 0 auto;
  display: block;
}

.content .program-content .program-img>.point {
  position: absolute;
  width: 24px;
  height: 24px;
}

.content .program-content .program-img>.point>.point-circle-white {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #ffffff;
  z-index: 10;
}

.content .program-content .program-img>.point>.point-circle-color {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #13a2e0;
  z-index: 1;
  animation: myglare 2s linear infinite;
}

@keyframes myglare {
  0% {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(.4);
    transform: scale(0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.0;
  }
}

.content .program-content .program-img>.point>.point-text {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0 15px;
  white-space: nowrap;
  height: 34px;
  line-height: 34px;
  color: #666666;
  font-size: 16.0px;
  border: 1px solid #d7d7d7;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(105, 105, 105, 0.5);
  transition: opacity .8s;
  opacity: 0;
}

.content .program-content .program-img>.point>.point-text.allshow {
  opacity: 1;
}

.content .program-content .program-img>.point:hover>.point-text {
  opacity: 1;
}

#point-1 {
  left: 478.51px;
  top: 50.65px;
}

#point-2 {
  left: 662.51px;
  top: 113.65px;
}

#point-3 {
  left: 488.51px;
  top: 284.65px;
}

#point-4 {
  left: 795.51px;
  top: 280.65px;
}

#point-5 {
  left: 209.51px;
  top: 304.65px;
}

#point-6 {
  left: 332.51px;
  top: 355.65px;
}

#point-7 {
  left: 389.51px;
  top: 407.65px;
}

#point-8 {
  left: 532.51px;
  top: 367.65px;
}

.content .item.news {
  padding-bottom: 0px;
}

.content .news-content {
  margin-top: 34px;
  display: flex;
  justify-content: space-around;
}

.content .news-content .news-item {
  width: 300px;
  height: 290px;
}

.content .news-content .news-item .img-margin {
  width: 300px;
  height: 225px;
}

.content .news-content .news-item .img-margin img {
  max-width: 300px;
  max-height: 225px;
}

.content .news-content .news-item .news-value {
  font-size: 16.0px;
  color: #333333;
  margin: 15px 0 8px;
}

.content .news-content .news-item .news-time {
  font-size: 12.0px;
  color: #999999;
}

.cooperation {
  width: 100%;
  padding: 0 210px 50px;
}

.cooperation-count {
  height: 208px;
  background: url('../img/index/cooperation-count-bg.png') center center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cooperation-count .count-item {
  width: 236px;
  height: 100%;
  margin: 0 43px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cooperation-count .count-item .count-name {
  display: block;
  margin-bottom: 24px;
  height: 33px;
  line-height: 33px;
  font-size: 24.0px;
}

.cooperation-count .count-item .count-value {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 70.0px;
}

.content .el-row {
  box-sizing: content-box;
  border-bottom: 1px solid #eaeaea;
}

.content .el-row:last-child {
  border-color: transparent;
}

.content .cooperation-count .cooperation-brands {
  width: 100%;
  height: auto;
}

.content .bg-purple.brand-item {
  height: 110px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .hasBg-margin {
  position: absolute;
  left: 0;
  right: 0;
  background: #fbfbfd;
  z-index: -1;
}

#hasBg-1 {
  height: 840px;
}

@media screen and (max-width:980px) {
  .content .item {
    width: 100%;
    padding: 40px 10px 50px;
  }
  /* .content .product-group {
    justify-content: space-around;
  } */
  .content .product-group .product-item {
    margin: 0;
  }
  .cooperation {
    padding: 0 10px 50px;
  }
}