/* 公共样式 */

.main {
  max-width: 1366px;
  margin: 0 auto;
}

body {
  min-width: 1366px;
  position: relative;
}

@media screen and (min-width:1366px) {
  body {
    overflow-x: hidden;
  }
}

.borderbox {
  box-sizing: border-box;
}

ul.noStyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

a.noStyle {
  text-decoration: none;
  color: inherit;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.hr1 {
  height: 3px;
  background: #dcdcdc;
}

.hr0 {
  height: 1px;
  background: #e8e8e8;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.pointer {
  cursor: pointer;
}

.stfont {
  font-family: PingFang;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

.clearRight {
  clear: right;
}

.clearLeft {
  clear: left;
}

.imgCenter {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fontSize0 {
  font-size: 0;
}


/* 以下为页面样式 */

#logo {
  width: 100%;
  height: 79px;
  background: url('../img/logo.png') no-repeat center;
  /* background-size: 312px 49.6px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  display: none;
}

.menu-group {
  /* width: 100%; */
  height: 30px;
  background: #333333;
  position: relative;
  text-align: center;
}

.menu-group .menu-ul {
  /* margin-left: 210px; */
  font-size: 0;
}

.menu-group .menu-item {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  color: #b3b3b3;
  font-family: PingFangSC;
  width: 189.2px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.menu-group .menu-product {
  position: relative;
}

.menu-group .menu-product:hover #product-menu {
  display: block;
}

.menu-group #product-menu {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 31px;
  left: 21.5px;
  width: 146px;
  height: 154px;
  box-sizing: border-box;
  padding: 17px 13px 21px;
  background: url('../img/product-bg.png');
}

.menu-group #product-menu .product-type {
  height: 20px;
  color: #535353;
  font-size: 14.0px;
  line-height: 20px;
  margin: 11px 0px;
}

.menu-group #product-menu .product-type:hover,
.menu-group #product-menu .product-type.selected {
  color: #14a1df;
}

.menu-group #product-menu .product-type a {
  color: inherit;
}

.menu-group .menu-item.selected,
.menu-group .menu-item:hover {
  background: #13a2e0;
  color: #ffffff;
}


/* banner */

.banner {
  width: 100%;
  /* height: 440px; */
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  background-color: #4b5eec;
}

.footer01 {
  width: 100%;
  height: 337px;
  background: #f5f5f5;
  position: relative;
  text-align: center;
}

.footer01 .footer-margin {
  width: 1366px;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer01 .footer01content {
  width: 1366px;
  margin: auto;
}

.footer01 .link-group {
  height: 222px;
  margin: 0px 210px 0px;
}

.footer01 .links-item {
  float: left;
  margin-top: 42px;
  margin-right: 106px;
  text-align: left;
}

.footer01 .links-item:nth-child(4) {
  margin-right: 0px;
}

.footer01 .link-title {
  color: #333333;
  font-family: PingFang;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 19px;
}

.footer01 a.link {
  margin: 0 0 8px 0;
  color: #999999;
  font-family: PingFang;
  font-size: 18.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

.footer01 .links-item.wx {
  margin: 0;
  margin-top: 40px;
  float: right;
}

.footer01 .links-item.wx img {
  width: 109px;
  margin: 0 18px;
}

.footer01 .links-item.wx span {
  color: #636363;
  margin-top: 11px;
  display: block;
  font-family: PingFang;
  font-size: 18.0px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}

.footer01 .footer-margin>.hr1 {
  margin: 0 210px;
}

.footer01 .copy {
  margin: 0 210px;
  color: #aaaaaa;
  margin-top: 32px;
  font-family: PingFang;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  float: left;
}

footer #toTop {
  width: 46px;
  height: 46px;
  margin-top: 20px;
  margin-right: 80px;
  float: right;
  background: url('../img/footer_button_up_normal.png') no-repeat center;
  margin-top: -80px;
  position: relative;
  background-size: contain;
}

footer #toTop:hover {
  background: url('../img/footer_button_up_hover.png') no-repeat center;
  background-size: contain;
}

.footer02 {
  display: none;
}


/* .footer01 #toTop img {
  max-width: 44px;
  max-height: 44px;
} */


/* 水平菜单样式 */

.horizontal-menu {
  margin-top: 55px;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-around;
}

.horizontal-menu .menu-item {
  font-size: 18.0px;
  height: 100%;
  color: #aaaaaa;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.horizontal-menu .menu-item>div {
  border-bottom: 3px solid transparent;
}

.horizontal-menu .menu-item.selected>div {
  color: #333333;
  border-color: #13a2e0;
  height: calc(100% - 3px);
}

.horizontal-menu .menu-br {
  width: 2px;
  height: 22px;
  background: #eaeaea;
  flex-shrink: 0;
}

.header02 {
  overflow: hidden;
  z-index: 100;
  display: none;
}

.header02 .mobileMenuGroup {
  display: block;
  width: auto;
  height: 300px;
  background-color: #14A2E0;
  padding: 0;
  margin: 0 auto;
}

.header02 .mobileMenuGroup .mobileitem {
  width: 33.33%;
  height: 100px;
  font-size: 45px;
  line-height: 100px;
  display: block;
  float: left;
  text-align: center;
  color: #ffffff;
}

.mobileitem.selected {
  background-color: #0e7aa8;
}

@media screen and (min-width:981px) {
  #logo {
    background-size: 273px 43.4px;
  }
}

@media screen and (max-width:980px) {
  body {
    min-width: 980px;
    position: relative;
  }
  .footer01 {
    display: none;
  }
  .header01 {
    display: none;
  }
  .header02 {
    display: none;
  }
  #logo {
    height: 200px;
    padding-top: 0;
  }
  #logo .menuButton {
    display: block;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    margin-right: 50px;
  }
  .footer02 {
    display: block;
    background-color: #f5f5f5;
    padding-top: 30px;
  }
  .footer02 .footeritem01 {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #666666;
    padding-left: 30px;
    font-size: 22px;
  }
  .footer02 .footeritem01 span {
    padding-left: 20px;
  }
  .footer02 .footeritem02 {
    height: 50px;
    font-size: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #14A2E0;
    padding-left: 30px;
    margin: 20px 0;
  }
  footer #toTop {
    height: 100px;
    width: 100px;
    margin-top: -180px;
    background-size: contain;
  }
  footer #toTop:hover {
    background-size: contain;
  }
}