.content .item {
  width: 100%;
  padding: 40px 210px 0;
}

.content .news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .news-item {
  width: 308px;
  height: 285px;
  margin-bottom: 60px;
}

.content .news-item .img-margin {
  width: 308px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .news-item .img-margin>img {
  max-height: 222px;
  max-width: 308px;
}

.content .news-item .news-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  height: 22px;
  line-height: 22px;
  font-size: 16.0px;
  margin: 16px 0 8px;
}

.content .news-item .news-title>a {
  color: #333333;
}

.content .news-item .news-time {
  height: 17px;
  line-height: 17px;
  color: #999999;
  font-size: 12.0px;
}

.content .news-more {
  height: 54px;
  width: 962px;
  background: #f7f7f7;
  margin: 0 auto 50px;
  line-height: 54px;
  font-size: 20px;
  color: #666666;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .content .item {
    width: 100%;
    padding: 40px 10px 0;
  }
}