.banner {
  width: 100%;
  max-height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01a383;
}

.banner img {
  max-width: 100%;
  max-height: 440px;
}

.content .item {
  width: 100%;
  padding: 40px 210px 50px;
}

.content .title {
  padding-left: 20px;
  color: #333333;
  font-size: 36.0px;
  height: 50px;
  line-height: 50px;
  border-left: 4px solid #13a2e0;
}

.content .more {
  height: 28px;
  line-height: 28px;
  padding-right: 38px;
  background: url('../img/index/more_normal.png') right center no-repeat;
  float: right;
}

.content .more:hover {
  background-image: url('../img/index/more_pressed.png');
}


/* 单独样式 */

.content .banner img {
  height: 440px;
}

.content .store .store-content {
  margin-top: 40px;
  /* width: 100%;
  height: 306px;
  background: url('../img/program/store.png') right center no-repeat;
  position: relative; */
  text-align: center;
  height: 650px;
  position: relative;
}

.content .store .store-content img {
  height: 650px;
}


/* .content .store .store-content .store-item {
  height: 54px;
  padding-left: 70px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.content .store .store-content .store-item:nth-child(1) {
  background-image: url('../img/program/drainage-ico.png');
}

.content .store .store-content .store-item:nth-child(2) {
  margin-left: 114px;
  background-image: url('../img/program/behavior-ico.png');
}

.content .store .store-content .store-item:nth-child(4) {
  background-image: url('../img/program/shop-ico.png');
}

.content .store .store-content .store-item:nth-child(5) {
  margin-left: 114px;
  background-image: url('../img/program/app-ico.png');
}

.content .store .store-content .store-item span {
  color: #333333;
  height: 54px;
  line-height: 54px;
  font-size: 24px;
} */

.content .program {
  height: 840px;
  background: #fbfbfd;
}

.content .program-content {
  height: calc(100% - 50px);
  width: 100%;
}

.content .program-content .subtitle {
  width: 284px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 28.0px;
  background: url('../img/index/subtitle-bg.png') center center no-repeat;
  text-align: center;
  margin: 18px auto;
}

.content .program-content .control {
  display: inline-block;
  float: right;
  height: 31px;
  line-height: 31px;
  color: #999999;
  font-size: 20.0px;
  margin-right: 50px;
  text-align: right;
  padding-right: 70px;
  background-image: url('../img/index/close.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.content .program-content .control.close {
  background-image: url('../img/index/close.png');
}

.content .program-content .control.open {
  background-image: url('../img/index/open.png');
}

.content .program-content .program-img {
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
}

.content .program-content .program-img img {
  margin: 0 auto;
  display: block;
}

.content .program-content .program-img>.point {
  position: absolute;
  width: 24px;
  height: 24px;
}

.content .program-content .program-img>.point>.point-circle-white {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #ffffff;
  z-index: 10;
}

.content .program-content .program-img>.point>.point-circle-color {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #13a2e0;
  z-index: 1;
  animation: myglare 2s linear infinite;
}

@keyframes myglare {
  0% {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(.4);
    transform: scale(0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.0;
  }
}

.content .program-content .program-img>.point>.point-text {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0 15px;
  white-space: nowrap;
  height: 34px;
  line-height: 34px;
  color: #666666;
  font-size: 16.0px;
  border: 1px solid #d7d7d7;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(105, 105, 105, 0.5);
  transition: opacity .8s;
  opacity: 0;
}

.content .program-content .program-img>.point>.point-text.allshow {
  opacity: 1;
}

.content .program-content .program-img>.point:hover>.point-text {
  opacity: 1;
}

#point-1 {
  left: 478.51px;
  top: 50.65px;
}

#point-2 {
  left: 662.51px;
  top: 113.65px;
}

#point-3 {
  left: 488.51px;
  top: 284.65px;
}

#point-4 {
  left: 795.51px;
  top: 280.65px;
}

#point-5 {
  left: 209.51px;
  top: 304.65px;
}

#point-6 {
  left: 332.51px;
  top: 355.65px;
}

#point-7 {
  left: 389.51px;
  top: 407.65px;
}

#point-8 {
  left: 532.51px;
  top: 367.65px;
}

.content .service-content {
  height: 414px;
  margin: 50px 0 30px;
  display: flex;
  justify-content: space-between;
}

.content .service-content .service-item {
  width: 292px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  background-repeat: no-repeat;
  background-position: center;
}

.content .service-content .service-item.item-01 {
  background-image: url('../img/program/01product.png');
}

.content .service-content .service-item.item-02 {
  background-image: url('../img/program/02activeity.png');
}

.content .service-content .service-item.item-03 {
  background-image: url('../img/program/03drainage.png');
}

.content .service-content .service-item .service-subtitle {
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 260px;
  margin-bottom: 12px;
  line-height: 30px;
  font-size: 22px;
  color: #333333;
}

.content .service-content .service-item .service-content {
  margin: 0 auto;
  width: 80%;
  height: auto;
  line-height: 22px;
  font-size: 14px;
  color: #666666;
}

.content .item-more {
  height: 252px;
  background: #fbfbfd;
}

.content .item-more .text {
  margin: 30px auto;
  color: #666666;
  font-size: 24.0px;
  text-align: center;
  height: 33px;
  line-height: 33px;
}

.content .item-more .more-btn {
  margin: 0 auto;
  width: 160px;
  height: 48px;
  background: #13a2e0;
  border-radius: 24px;
  line-height: 48px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.content .hasBg-margin {
  position: absolute;
  left: 0;
  right: 0;
  background: #fbfbfd;
  z-index: -1;
}

#hasBg-1 {
  height: 840px;
}

#hasBg-2 {
  height: 252px;
}


/* 给智慧门店添加动画效果 */

.circle-margin {
  position: absolute;
}

#circle-1 {
  left: 358px;
  top: 232px;
}

#circle-2 {
  left: 72px;
  top: 575px;
}

#circle-3 {
  left: 642px;
  top: 575px;
}

.content .store-content .circle-margin .circle {
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.3;
}

.content .store-content .circle-margin:hover .circle {
  animation: hoverScale 0.9s cubic-bezier(.17, .67, .83, .67) infinite alternate;
}

@keyframes hoverScale {
  0% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.content .store-content .circle-margin .circle1 {
  width: 10px;
  height: 10px;
  background: #ffffff;
  margin-left: 110px;
  margin-top: -120px;
}

.content .store-content .circle-margin .circle2 {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  margin-left: 90px;
  margin-top: -30px;
}

.content .store-content .circle-margin .circle3 {
  width: 230px;
  height: 230px;
  border: 1px solid #dddddd;
  margin-left: 0;
  margin-top: -142px;
}

@media screen and (max-width:980px) {
  .content .item {
    width: 100%;
    padding: 40px 10px 50px;
  }
}