.banner {
    width: 100%;
    background-color: #FBFBFB;
    max-height: 440px;
}

.banner img {
    max-width: 100%;
    max-height: 440px;
}

.content .item {
    width: 100%;
    padding: 0 210px 50px;
}

.content .greybg {
    background-color: #fbfbfd;
}

.content .item-menu {
    padding-top: 0;
    padding-bottom: 40px;
}

.content .title {
    padding-left: 20px;
    color: #333333;
    font-size: 36.0px;
    height: 50px;
    line-height: 50px;
    border-left: 4px solid #13a2e0;
}

.content .double-title {
    padding-left: 20px;
    height: 80px;
    border-left: 4px solid #13a2e0;
}

.content .double-title ul {
    height: 80px;
    padding-left: 0px;
    margin: 0px;
}

.content .double-title ul li {
    list-style-type: none;
}

.content .double-title .litop {
    color: #333333;
    font-size: 36.0px;
}

.content .double-title .libottom {
    color: #a9a9a9;
    font-size: 22.0px;
    padding-top: 10px;
}

.content .overview-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.content .overview-content .overview-item {
    width: 330px;
    height: 154px;
    background-repeat: round;
    margin: 20px 58px;
}

.content .overview-content .content-item01 {
    background-image: url('../img/shop/vitrualcloud/item_bg01.png');
}

.content .overview-content .content-item02 {
    background-image: url('../img/shop/vitrualcloud/item_bg02.png');
}

.content .overview-content .content-item03 {
    background-image: url('../img/shop/vitrualcloud/item_bg03.png');
}

.content .overview-content .content-item04 {
    background-image: url('../img/shop/vitrualcloud/item_bg04.png');
    margin-top: 30px;
}

.content .overview-content .overview-item .textmargin {
    float: left;
    padding-left: 30px;
}

.content .overview-content .overview-item .textmargin .overview-title {
    height: 33px;
    line-height: 33px;
    color: #5B5B5B;
    font-size: 24.0px;
    margin: 39px 0 20px;
}

.content .overview-content .overview-item .textmargin .overview-text {
    line-height: 22px;
    color: #999999;
    font-size: 18.0px;
}

.product-function {
    padding: 0 210px;
}

.product-function .function-module {
    display: flex;
    height: 380px;
    justify-content: center;
    align-items: center;
}

.product-function .function-module .module-content {
    text-align: center;
    width: 50%;
}

.function-module .module-content .moudule-content-title {
    color: #333333;
    font-size: 28.0px;
}

.function-module .module-content .moudule-content-content {
    color: #666666;
    font-size: 16.0px;
}

.content .hardware {
    text-align: center;
}

.content .hardware img {
    padding: 50px 0;
}

.NewgreyBG {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fbfbfd;
    z-index: -1;
}

.bg01 {
    height: 380px;
}

.bg02 {
    height: 490px;
}

.bg03 {
    height: 430px;
}

@media only screen and (max-width: 980px) {
    .content .item {
        width: 100%;
        padding: 0 12px 50px;
    }
    .product-function {
        padding: 0;
    }
}